<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EndpointUri" value="https://newcosmosdbwithazuresdk.documents.azure.com:443/" />
    <add key="PrimaryKey" value="Pl99OzleSj6V8LySA4h1cX98NjFU7yyG0Nthc8lnanTbnLFj17d7Uwe4NGxSAYXMQDMuQyxeod5EACDbRAUNXQ==" />
  </appSettings>
</configuration>